.code-container {
  margin: 0;
  padding: 0;
}

.code-font {

  background-color: #1f6feb;
  color: #c7254e;
  border-radius: 2px;
  font-family: 'Source Code Pro,DejaVu Sans Mono,Ubuntu Mono,Anonymous Pro,Droid Sans Mono,Menlo,Monaco,Consolas,Inconsolata,Courier,monospace,PingFang SC,Microsoft YaHei,sans-serif', serif
}