.code-container {
  margin: 0;
  padding: 0;
}

.code-font {
  color: var(--code-font-color);
  border-radius: 2px;
  box-shadow: 0 0 2px 0.5px rgb(206, 210, 206);
  font-family: Droid Sans Mono, Source Code Pro, DejaVu Sans Mono, Ubuntu Mono, Anonymous Pro, Menlo, Monaco, Consolas, Inconsolata, Courier, monospace, PingFang SC, Microsoft YaHei, sans-serif, serif;
  &:hover,
  &:focus {
    box-shadow: 0 0 6px 1.5px rgb(206, 210, 206);;
    text-shadow: 0 0 rgb(245, 229, 51);
  }
}